DATABASE_URL="mongodb+srv://user:password@cluster0.mongodb.net/application_tracker?retryWrites=true&w=majority"
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
JWT_SECRET="super-secret-jwt-key-change-in-production-32bytes!"
ENCRYPTION_KEY="0123456789abcdef0123456789abcdef"
